.page-header {
  background-color: lightgray;
  display: flex;
  justify-content: right;
  align-items: center;
  height: 60px;
  width: 100%;
  position: fixed;
  backdrop-filter: blur(5px);
  z-index: 50;
  padding: 0 1rem;

  @media all and (min-width: 840px) {
    justify-content: right;
  }
}

.logo {
  z-index: 100;
  background-color: antiquewhite;
  height: 60px;
  align-items: center;
  display: flex;
  position: absolute;
  left: 1rem;
}

.navigation-list {
  list-style: none;
  padding: 0;

  @media all and (min-width: 840px) {
    display: flex;
    gap: 30px;
  }
}
