//Mobile (Default)
.gallery__row {
  display: grid;
  gap: 1rem;
  padding: 0 1rem 1rem;
  grid-template-columns: 1fr;
  // transform-origin: 0% 0%;
}

.gallery__row__item {
  height: 500px;
  width: 100%;
}

//Ipad
@media screen and (min-width: 480px) and (max-width: 768px) {
  .gallery__row--default {
    grid-template-columns: 3fr 2fr;
  }
  .gallery__row--three-columns {
    grid-template-columns: 2fr 1fr;
    gap: 1rem;
  }
  .mobile-hidden {
    display: none;
  }
  .gallery__row--two-thirds-reverse {
    grid-template-columns: 2fr 3fr;
  }
}

//Desktop
@media screen and (min-width: 769px) {
  .gallery__row {
    padding: 0 0 1rem;
  }
  .gallery__row--default {
    grid-template-columns: 5fr 3fr;
  }
  .gallery__row--three-columns {
    grid-template-columns: 3fr 3fr 2fr;
  }
  .gallery__row--two-thirds-reverse {
    grid-template-columns: 1fr 2fr;
  }
}

.project__image-wrapper {
  margin: 0 auto;
}

.project__title__wrapper {
  background-color: red;
  display: flex;
  justify-content: center;
}

.project__title {
  position: absolute;
  color: white;
  top: 85%;
  font-size: xxx-large;
  font-weight: bold;
  opacity: 0;
  transition: all 300ms;
  z-index: 6;
}

.project__image {
  height: 100%;
  position: relative;
  overflow: hidden;

  &:after {
    display: flex;
    justify-content: baseline;
    content: "";

    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    opacity: 0;
    transition: all 500ms;
  }
}

.project__image img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  top: 0;
  left: 0;
}

.gallery__row__item:hover {
  .project__image {
    &:after {
      opacity: 1;
    }
  }

  .project__image img {
    transition: all 500ms ease-in;
    transform: scale(1.02);
  }

  .project__title {
    transition: opacity 300ms ease-in-out;
    opacity: 1;
  }
}

// Scroll when in view tutorial: https://webdesign.tutsplus.com/animate-on-scroll-with-javascript--cms-36671t

.js-scroll {
  opacity: 0;
}

.scrolled.fade-in-bottom {
  animation: fade-in-bottom 800ms ease-in-out both;
}

@keyframes fade-in-bottom {
  0% {
    opacity: 0;
    transform: translateY(10%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
// End of scroll tutorial

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slide-in {
  from {
    transform: translateY(10%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.project__link {
  display: block;
}
