.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1000; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: #302134; /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  display: flex;
  flex-direction: column;
  align-items: end;
  padding: 1rem;
  width: 100%;
  height: 100%;
}
.modal__image_wrapper {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  height: 100%;
  padding: 1rem 0;
}

.modal__image {
  height: 100%;
}

.modal__image img {
  height: 100%;
  object-fit: contain;
}

/* The Close Button and arrows */
.arrow_wrapper {
  display: flex;
  height: 100%;
  flex-wrap: wrap;
  align-content: center;
}

.material-symbols-outlined {
  // .arrow,
  // .arrow_left,
  // .arrow_right {
  color: #cfcece;
  float: right;
  font-size: 2.5rem;
  font-weight: bold;
  padding-right: 1rem;
}

.material-symbols-outlined {
  position: absolute;
  display: flex;
  top: 0;
  right: 0;
  padding: 1rem;
  font-size: 30px;

  &--arrow_left {
    position: unset;
    padding: 100px 2rem 2rem 2rem;
  }

  &--arrow_right {
    position: unset;
    padding: 100px 2rem 2rem 2rem;
  }
}

.arrow {
  align-self: flex-end;
  display: flex;
  flex-direction: row-reverse;
  gap: 1rem;
}

.material-symbols-outlined:hover,
.material-symbols-outlined:focus {
  // .arrow_right:hover,
  // .arrow_right:focus,
  // .arrow_left:hover,
  // .arrow_left:focus {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

#arrow_left_desktop {
  display: none;
}
.mobile-arrows_wrapper {
  display: flex;
  position: absolute;
  bottom: 0;
  right: 0;
}

//Desktop
@media screen and (min-width: 480px) {
  .modal-content {
    flex-direction: unset;
    align-items: center;
    padding: 0;
  }

  .close {
    padding: 0 1rem 2rem 2rem;
  }

  .arrow {
    align-self: center;
    padding: 12rem 1rem;
  }

  #arrow_left_desktop {
    display: flex;
  }

  #arrow_left_mobile {
    display: none;
  }

  .mobile-arrows_wrapper {
    position: unset;
  }
  .material-symbols-outlined {
    &--arrow_left {
      padding: 300px 2rem 300px 1rem;
    }

    &--arrow_right {
      padding: 300px 1rem 300px 2rem;
    }
  }
}
