//Mobile (Default)

.project-text_wrapper {
  padding: 0 1rem;
  display: grid;
  grid-template-columns: 1fr;
  gap: 4rem;
}
.project_infos {
  align-self: center;
  display: grid;
  gap: 2rem;
}

.project-page_grid {
  padding-top: 1rem;
  max-width: 1500px;
  display: grid;
  gap: 1rem;
}

.project__row__wrapper-one_img {
  display: grid;
  justify-self: center;
  grid-template-columns: 5fr;
  transition: transform 0.5s ease;
  width: 70%;
}

.project__row__wrapper-two_img {
  display: grid;
  gap: 1rem;
  padding: 0 1rem 1rem;
  grid-template-columns: 1fr;
}

.project__row__item {
  height: 500px;
  width: 100%;
}
.project__link {
  display: grid;
}

.project__image {
  height: 100%;
  position: relative;
  overflow: hidden;
}

.project__image img {
  position: absolute;
  // width: 100%;
  height: 100%;
  object-fit: cover;
  top: 0;
  left: 0;
  overflow: hidden;
  transform-origin: 50% 65%;
  transition: transform 2s, filter 1s ease-in-out;
}

.project__row__item:hover {
  cursor: pointer;
  img {
    transform: scale(1.03);
  }
}

//Ipad
@media screen and (min-width: 480px) and (max-width: 768px) {
  .project-page_wrapper {
    padding: 2rem 0 0;
  }

  .project-text_wrapper {
    gap: 3rem;
  }
  .project_infos {
    grid-template-columns: 1fr 1fr;
    padding-bottom: 1rem;
  }
  .project-page_grid {
    gap: 3rem;
  }

  .project__row__wrapper-two_img {
    grid-template-columns: 1fr 1fr;
    padding: 0 1rem 2rem;
    gap: 2rem;
  }
}

//Desktop
@media screen and (min-width: 769px) {
  .project-page_wrapper {
    padding: 0 1rem;
  }

  .project-page_grid {
    padding-top: 1rem;
    max-width: 1500px;
    display: grid;
    gap: 4rem;
  }

  .project-text_wrapper {
    grid-template-columns: 3fr 1fr;
    padding: 2rem 0 3rem;
  }

  .project__row__wrapper-one_img {
    padding: 0 0 1rem;
    padding: 0 1rem 1rem;
  }

  .project__row__wrapper-two_img {
    gap: 4rem;
    grid-template-columns: 1fr 1fr;
    padding: 0 0 4rem;
  }
}
