.project-page {
  --grid-gap-sm: 1rem;
  --grid-gap-md: 2rem;
  --grid-gap-lg: 2rem;

  padding-bottom: 2rem;

  @media screen and (min-width: 480px) and (max-width: 768px) {
    padding: 2rem 0;
  }

  @media screen and (min-width: 769px) {
    padding: 3rem 0;
  }
}

.project-page__header {
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr;

  @media screen and (min-width: 480px) and (max-width: 768px) {
  }

  @media screen and (min-width: 768px) {
    gap: 4rem;
    grid-template-columns: 3fr 1fr;
  }
}

.project-page__header__description {
  max-width: 650px;
}

.project-page__header__additional_info {
  display: grid;
  align-self: center;
  gap: 1rem;

  @media screen and (min-width: 480px) and (max-width: 768px) {
    grid-template-columns: 1fr 1fr;
  }
}

.project-page__grid {
  display: grid;
  gap: var(--grid-gap-sm);

  // Ipad + Large screens
  @media screen and (min-width: 480px) {
    gap: var(--grid-gap-md);
  }

  // Desktop
  @media screen and (min-width: 769px) {
    gap: var(--grid-gap-lg);
  }
}

.project__row__wrapper-two_img {
  display: grid;
  gap: var(--grid-gap-sm);
  grid-template-columns: 1fr;

  // Ipad + Large screens
  @media screen and (min-width: 480px) {
    grid-template-columns: 1fr 1fr;
    gap: var(--grid-gap-md);
  }

  // Desktop
  @media screen and (min-width: 769px) {
    gap: var(--grid-gap-lg);
  }
}

.project__image {
  position: relative;
  overflow: hidden;
  border: 1px solid #ddd;
  aspect-ratio: 16 / 9;

  &--portrait {
    aspect-ratio: 3 / 4;
  }

  &--landscape {
    aspect-ratio: 16 / 9;
  }

  &--square {
    aspect-ratio: 1;
  }
}

@media screen and (min-width: 480px) {
  .md\:project__image {
    &--portrait {
      aspect-ratio: 3 / 4;
    }

    &--landscape {
      aspect-ratio: 4 / 3;
    }

    &--square {
      aspect-ratio: 1;
    }
  }
}

.project__image img {
  cursor: pointer;
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  top: 0;
  left: 0;
  overflow: hidden;
  transform-origin: 50% 65%;
  transition: transform 0.5s, filter 1s ease-in-out;

  &:hover {
    transform: scale(1.03);
  }
}
