<div class="page-section">
  <div class="about_wrapper">
    <div class="about-grid">
      <!-- About Text wrapper -->
      <div class="about-text-selected_wrapper">
        <!-- About Title wrapper -->
        <div class="about_title-wrapper">
          <h1 class="about_title">
            Hey! I’m Sandra Brandstätter — a freelance illustrator based in
            Berlin, Germany.
          </h1>
          <div class="avatar_wrapper" role="avatar">
            <img src="./img/pic6.png" />
          </div>
        </div>
        <!-- About Title wrapper end -->

        <div class="about-text_wrapper">
          <h5 class="about_subtitle">ABOUT</h5>
          <div class="text_wrapper">
            <p>
              My work is both character and colour-driven, and whilst graphic,
              it retains a tactile warmth and quirkiness. I aim to show intimate
              moments in accessible worlds that have been featured in
              editorials, book covers, branding and advertising campaigns.
            </p>
            <p>
              After graduating from the University of Plymouth, I briefly worked
              as a designer in Bristol before diving into the full-time world of
              illustration in 2017.
            </p>
          </div>
        </div>
        <h5 class="about_subtitle">SELECTED CLIENTS</h5>
        <p>
          Apple   Uber   Netflix   Penguin   BMW   The Guardian   Mr Porter  
          Monocle   HuffPost   MINI   Aviva   Wired   Ferrero   Walmart   WSJ  
          Profile Books   GQ  ...
        </p>
      </div>
      <!-- About Text wrapper end-->
    </div>
  </div>
</div>
