<div class="page-section">
  <div class="about_wrapper">
    <div class="about-grid">
      <!-- About Text wrapper -->
      <div class="about-text-selected_wrapper">
        <!-- About Title wrapper -->
        <div class="about_title-wrapper">
          <h1 class="about_title">
            Hey! I’m Sandra Brandstätter — a freelance illustrator based in
            Berlin, Germany.
          </h1>
          <div class="avatar_wrapper" role="avatar">
            <img src="./img/pic6.png" />
          </div>
        </div>
        <!-- About Title wrapper end -->

        <div class="about-text_wrapper">
          <h5 class="about_subtitle">ABOUT</h5>
          <div class="text_wrapper">
            <p>
              My work is both character and colour-driven, and whilst graphic,
              it retains a tactile warmth and quirkiness. I aim to show intimate
              moments in accessible worlds that have been featured in
              editorials, book covers, branding and advertising campaigns.
            </p>
            <p>
              After graduating from the University of Plymouth, I briefly worked
              as a designer in Bristol before diving into the full-time world of
              illustration in 2017.
            </p>
          </div>
        </div>
        <h5 class="about_subtitle">SELECTED CLIENTS</h5>
        <p>
          Apple   Uber   Netflix   Penguin   BMW   The Guardian   Mr Porter  
          Monocle   HuffPost   MINI   Aviva   Wired   Ferrero   Walmart   WSJ  
          Profile Books   GQ  ...
        </p>
      </div>
      <!-- About Text wrapper end-->

      <!-- About contact wrapper -->
      <div class="work-enquires_wrapper">
        <div class="work-enquires">
          <h5 class="about_subtitle">WORK ENQUIRIES</h5>
          <div class="work_enquires-email">
            <span class="hover-underline-animation">
              <a href="mailto:me@sandra-brandstaetter.com"
                >me@sandra-brandstaetter.com</a
              >
            </span>
          </div>
          <div class="work_enquires-telephone">
            <span class="hover-underline-animation">
              <a href="tel:+49017638361303" class="contact_links">
                +49 (0)176 3836 1303
              </a>
            </span>
          </div>
        </div>
        <div class="follow">
          <div class="social-media">
            <h5 class="about_subtitle">FOLLOW</h5>
            <!-- Instagram logo -->
            <div class="social-item">
              <span class="hover-underline-animation">
                <a
                  href="https://www.instagram.com/brandstattersandra/"
                  className="contact-icons"
                  target="_blank"
                >
                  insta here
                  <!-- <include src="./src/img/square-github.svg"></include> -->
                </a>
              </span>
            </div>
            <!-- Skype logo -->
            <div class="social-item">
              <a
                href="https://join.skype.com/invite/A5aKp9WXSvNX"
                className="contact-icons"
                target="_blank"
              >
                <!-- <include src="./src/img/skype.svg"></include> -->
              </a>
            </div>
            <!-- LinkedIn logo -->
            <div>
              <a
                href="https://www.linkedin.com/in/sandra-brandst%C3%A4tter-349232211?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3B%2FQ84HLXxS8mMIoQN5h87eQ%3D%3D"
                className="contact-icons"
                target="_blank"
              >
                <!-- <include class="social-item" src="./src/img/linkedin.svg"></include> -->
              </a>
            </div>
          </div>
        </div>
      </div>
      <!-- About contact wrapper -->
    </div>
    <div class="line"></div>
    <h5 class="copyright">COPYRIGHT © 2023 SANDRA BRANDSTÄTTER</h5>
  </div>
</div>
