<div class="page-section">
  <div class="footer_wrapper">
    <div class="line"></div>
    <div class="footer-grid">
      <div class="work_enquires">
        <h5 class="title">WORK ENQUIRIES</h5>
        <div class="work_enquires-email">
          <span class="hover-underline-animation">
            <a href="mailto:me@sandra-brandstaetter.com"
              >me@sandra-brandstaetter.com</a
            >
          </span>
        </div>
        <div class="work_enquires-telephone">
          <span class="hover-underline-animation">
            <a href="tel:+49017638361303" class="contact_links">
              +49 (0)176 3836 1303
            </a>
          </span>
        </div>
      </div>

      <div class="social-media">
        <h5 class="title">FOLLOW</h5>
        <!-- Instagram logo -->
        <div class="social-item">
          <span class="hover-underline-animation">
            <a
              href="https://www.instagram.com/brandstattersandra/"
              className="contact-icons"
              target="_blank"
            >
              insta here
              <!-- <include src="./src/img/square-github.svg"></include> -->
            </a>
          </span>
        </div>
        <!-- Skype logo -->
        <div class="social-item">
          <a
            href="https://join.skype.com/invite/A5aKp9WXSvNX"
            className="contact-icons"
            target="_blank"
          >
            <!-- <include src="./src/img/skype.svg"></include> -->
          </a>
        </div>
        <!-- LinkedIn logo -->
        <div>
          <a
            href="https://www.linkedin.com/in/sandra-brandst%C3%A4tter-349232211?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3B%2FQ84HLXxS8mMIoQN5h87eQ%3D%3D"
            className="contact-icons"
            target="_blank"
          >
            <!-- <include class="social-item" src="./src/img/linkedin.svg"></include> -->
          </a>
        </div>
      </div>
    </div>
    <div class="line"></div>
    <h5 class="copyright">COPYRIGHT © 2023 SANDRA BRANDSTÄTTER</h5>
  </div>
</div>
