<div class="page-header__wrapper">
  <div class="page-section">
    <header class="page-header__content">
      <div class="logo">
        <h3 class="hover-underline-animation">SANDRA BRANDSTÄTTER</h3>
      </div>
      <nav class="main-navigation">
        <div id="menuToggle">
          <input id="checkInput" type="checkbox" />
          <span></span>
          <span></span>
          <span></span>
          <ul id="menu" role="menubar" class="navigation-list">
            <a href="/#home" class="navigation-list__item">
              <li class="hover-underline-animation" role="menuitem">Home</li>
            </a>
            <a href="/src/about.html" class="navigation-list__item">
              <li class="hover-underline-animation" role="menuitem">About</li>
            </a>
            <a href="/src/projects.html" class="navigation-list__item">
              <li class="hover-underline-animation" role="menuitem">
                Projects
              </li>
            </a>
            <a href="/#others" class="navigation-list__item">
              <li class="hover-underline-animation" role="menuitem">Others</li>
            </a>
          </ul>
        </div>
      </nav>
    </header>
    <div class="line"></div>
  </div>
</div>
