<div class="page-header__wrapper">
  <div class="page-section">
    <header class="page-header__content">
      <div class="logo">
        <h3>SANDRA BRANDSTATTER</h3>
      </div>
      <nav class="main-navigation">
        <div id="menuToggle">
          <input id="checkInput" type="checkbox" />
          <span></span>
          <span></span>
          <span></span>
          <ul id="menu" role="menubar" class="navigation-list">
            <a href="/#home" class="navigation-list__item">
              <li role="menuitem">Home</li>
            </a>
            <a href="/#about" class="navigation-list__item">
              <li role="menuitem">About</li>
            </a>
            <a href="/#others" class="navigation-list__item">
              <li role="menuitem">Others</li>
            </a>
            <!-- Pegar endereco porfissional de instagram Sandra -->
            <a href="/#instagram" class="navigation-list__item">
              <li role="menuitem">Instagram</li>
            </a>
          </ul>
        </div>
      </nav>
    </header>
  </div>
</div>
