<section id="home" class="page-section">
  <!-- FIRST ROW -->
  <div class="gallery__row gallery__row--default">
    <div class="gallery__row__item">
      <div class="project__image">
        <a class="project__link">
          <img src="./img/pic5.png" />
        </a>
      </div>
    </div>
    <div class="gallery__row__item">
      <div class="project__image">
        <a class="project__link">
          <img src="./img/pic6.png" />
        </a>
      </div>
    </div>
  </div>
  <!-- END OF FIRST ROW -->

  <!-- SECOND ROW -->
  <div class="gallery__row gallery__row--three-columns">
    <div class="gallery__row__item">
      <div class="project__image">
        <a class="project__link">
          <img src="./img/pic9.png" />
        </a>
      </div>
    </div>
    <div class="gallery__row__item">
      <div class="project__image">
        <a class="project__link">
          <img src="./img/pic8.png" />
        </a>
      </div>
    </div>
    <div class="gallery__row__item">
      <div class="project__image">
        <a class="project__link">
          <img src="./img/pic1.png" />
        </a>
      </div>
    </div>
  </div>
  <!-- END OF SECOND ROW -->

  <!-- THIRD ROW -->
  <div class="gallery__row gallery__row--two-thirds-reverse">
    <div class="gallery__row__item">
      <div class="project__image">
        <a class="project__link">
          <img src="./img/pic2.png" />
        </a>
      </div>
    </div>
    <div class="gallery__row__item">
      <div class="project__image">
        <a class="project__link">
          <img src="./img/pic3.png" />
        </a>
      </div>
    </div>
  </div>
  <!-- END OF THIRD ROW -->

  <!-- FORTH ROW -->
  <div class="gallery__row gallery__row--one-item">
    <div class="gallery__row__item">
      <div class="project__image">
        <a class="project__link">
          <img src="./img/pic10.png" />
        </a>
      </div>
    </div>
  </div>
  <!-- END OF FORTH ROW -->
</section>
