<section id="home" class="page-section">
  <!-- FIRST ROW -->
  <div class="gallery__row gallery__row--default">
    <div class="gallery__row__item js-scroll fade-in-bottom">
      <a href="/src/project2.html">
        <div class="project__image">
          <img src="./img/pic5.png" />

          <div class="project__title__wrapper">
            <span class="project__title">Title</span>
          </div>
          <div class="project__image__overlay"></div>
        </div>
      </a>
    </div>
    <div class="gallery__row__item js-scroll fade-in-bottom">
      <a href="/src/projects.html">
        <div class="project__image">
          <img src="./img/pic6.png" />
          <div class="project__title__wrapper">
            <span class="project__title">Title</span>
          </div>
          <div class="project__image__overlay"></div>
        </div>
      </a>
    </div>
  </div>
  <!-- END OF FIRST ROW -->

  <!-- SECOND ROW -->
  <div class="gallery__row gallery__row--three-columns">
    <div class="gallery__row__item js-scroll fade-in-bottom">
      <a href="/src/projects.html">
        <div class="project__image">
          <img src="./img/pic9.png" />

          <div class="project__title__wrapper">
            <span class="project__title">Title</span>
          </div>
          <div class="project__image__overlay"></div>
        </div>
      </a>
    </div>
    <div class="gallery__row__item js-scroll fade-in-bottom">
      <a href="/src/projects.html">
        <div class="project__image">
          <img src="./img/pic8.png" />

          <div class="project__title__wrapper">
            <span class="project__title">Title</span>
          </div>
          <div class="project__image__overlay"></div>
        </div>
      </a>
    </div>

    <div class="gallery__row__item mobile-hidden js-scroll fade-in-bottom">
      <a href="/src/projects.html">
        <div class="project__image">
          <img src="./img/pic1.png" />

          <div class="project__title__wrapper">
            <span class="project__title">Title</span>
          </div>
          <div class="project__image__overlay"></div>
        </div>
      </a>
    </div>
  </div>
  <!-- END OF SECOND ROW -->

  <!-- THIRD ROW -->
  <div class="gallery__row gallery__row--two-thirds-reverse">
    <div class="gallery__row__item js-scroll fade-in-bottom">
      <a href="/src/projects.html">
        <div class="project__image">
          <img src="./img/pic2.png" />

          <div class="project__title__wrapper">
            <span class="project__title">Title</span>
          </div>
          <div class="project__image__overlay"></div>
        </div>
      </a>
    </div>
    <div class="gallery__row__item js-scroll fade-in-bottom">
      <a href="/src/projects.html">
        <div class="project__image">
          <img src="./img/pic3.png" />

          <div class="project__title__wrapper">
            <span class="project__title">Title</span>
          </div>
          <div class="project__image__overlay"></div>
        </div>
      </a>
    </div>
  </div>
  <!-- END OF THIRD ROW -->

  <!-- FORTH ROW -->
  <div class="gallery__row gallery__row--one-item">
    <div class="gallery__row__item js-scroll fade-in-bottom">
      <a href="/src/projects.html">
        <div class="project__image">
          <img src="./img/pic10.png" />

          <div class="project__title__wrapper">
            <span class="project__title">Title</span>
          </div>
          <div class="project__image__overlay"></div>
        </div>
      </a>
    </div>
  </div>
  <!-- END OF FORTH ROW -->
</section>
<script src="./js/index.js"></script>
