<div id="myModal" class="modal">
  <div class="modal-content">
    <div class="arrow_wrapper">
      <span class="close">&times;</span>
      <span id="arrow_right" class="arrow">&raquo;</span>
      <span class="hidden">&times;</span>
    </div>
    <div class="project__row__item">
      <div class="project__image"><img id="image" /></div>
    </div>
    <div class="arrow_wrapper">
      <span class="hidden">&times;</span>
      <span id="arrow_left" class="arrow">&laquo;</span>
      <span class="hidden">&times;</span>
    </div>
  </div>
</div>
