<div class="page-section">
  <!-- Text Wrapper -->
  <div class="project-text_wrapper">
    <div class="project_text">
      <h1>Project Title Here</h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Odio morbi quis
        commodo odio aenean. Eget egestas purus viverra accumsan in. In
        pellentesque massa placerat duis. Nulla pellentesque dignissim enim sit
        amet venenatis urna cursus eget. Placerat in egestas erat imperdiet sed
        euismod nisi. Quisque egestas diam in arcu cursus euismod. Pellentesque
        eu tincidunt tortor aliquam nulla facilisi cras. Turpis egestas maecenas
        pharetra convallis posuere morbi leo urna molestie. Lobortis elementum
        nibh tellus molestie nunc non blandit. Nunc pulvinar sapien et ligula
        ullamcorper malesuada.
      </p>
    </div>
    <div class="project_infos">
      <div class="project-info_title_wrapper">
        <h5 class="project-info_title">ART DIRECTOR</h5>
        <p>Sandra Brandstätter</p>
        <p>Another person</p>
      </div>
      <div class="project-info_title_wrapper">
        <h5 class="project-info_title">CLIENT</h5>
        <p>Lorem ipsum</p>
      </div>
    </div>
  </div>
  <!-- Text Wrapper end-->

  <!-- Project page grid-->
  <div class="project-page_grid">
    <!-- First row -->
    <div class="project__row__wrapper-one_img">
      <div class="project__row__item">
        <div class="project__image">
          <a class="project__link">
            <img src="./img/pic10.png" />
          </a>
        </div>
      </div>
    </div>
    <!-- First row end-->

    <!-- Second row -->
    <div class="project__row__wrapper-two_img">
      <div class="project__row__item">
        <div class="project__image">
          <a class="project__link">
            <img src="./img/pic5.png" />
          </a>
        </div>
      </div>
      <div class="project__row__item">
        <div class="project__image">
          <a class="project__link">
            <img src="./img/pic6.png" />
          </a>
        </div>
      </div>
    </div>
    <!-- Second row end -->
  </div>
  <!-- Project page grid end-->
</div>
