html,
body {
  font-family: Montserrat, sans-serif;
}

.page-section {
  margin: 0 auto;
  max-width: 1440px;
  width: 100%;
  padding: 0 1rem;
}

.page-section ~ .page-section {
  margin-top: 1rem;

  @media screen and (min-width: 480px) {
    margin-top: 2rem;
  }

  @media screen and (min-width: 769px) {
    margin-top: 3rem;
  }
}

@media screen and (min-width: 769px) {
  .page-section {
    padding: 0 3rem;
  }
}

.main_container {
  padding-top: 80px;
}

.line {
  height: 0.05555555555555555rem;
  background-color: #000000;
}

.copyright {
  text-align: end;
}
// To animate a underline on any text, just add a span tag around
// the tag where the text is inside
// by: https://unclebigbay.com/how-to-create-an-hover-underline-animation-in-css
.hover-underline-animation {
  position: relative;
}

.hover-underline-animation::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  right: 0;
  background-color: rgb(23, 22, 22);
  transform-origin: bottom left;
  transition: transform 0.25s ease-out;
  transform: scaleX(0);
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
}
