.nav__buttons-page_wrapper {
  // padding: 0 1rem;
}

.nav__button {
  // background-color: aquamarine;
  padding: 1rem 0;
  display: flex;
  gap: 0.8rem;
}

.icons {
  display: flex;
  align-items: center;
  transition: 300ms ease-in-out;
}

.slide_right {
  transition: 300ms ease-in-out;
}
.slide_left {
  transition: 300ms ease-in-out;
}
.nav__button:hover,
.info-slide:active {
  cursor: pointer;
  color: #ff7f50;
  .icons {
    filter: invert(61%) sepia(45%) saturate(1500%) hue-rotate(325deg)
      brightness(100%) contrast(103%);
  }

  .slide_left {
    margin: 0 10px 0 0;
  }

  .slide_right {
    margin: 0 0 0 10px;
  }
}
